@model List<GuessTheMovie.Models.ViewModels.AdminFilmsVM>

    <div id="result">
        <table class="table film-table">
            @foreach (var films in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => films.FilmId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => films.FilmCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => films.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => films.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => films.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => films.ImageCount)
                    </th>
                    <th></th>
                </tr>
                break;
            }
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.FilmId)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.FilmCode)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Year)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.ImageCount)
                        </th>
                        <th>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }, new { @class = "bnt btn-edit" }) |
                            <button type="button" class="btn btn-danger RemoveLink" data-id="@item.FilmId"><i class="fas fa-trash-alt"></i></button>
                        </th>
                    </tr>
                }
            }
        </table>
    </div>
