
@{
    ViewBag.Title = "Index";
}

@model GuessTheMovie.Models.ViewModels.AdminVM

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center form-wrapper">
            
            @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @class = "form-login" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <br>
                <h4>Admin Login</h4>
                <br>
                @Html.TextBoxFor(m => m.Login, new { @type = "text", @placeholder = "Login", @class = "form-control input-sm chat-input", @id = "userName" })
                @*<input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />*@
                <br>
                @Html.PasswordFor(m => m.Password, new { @type = "password", @placeholder = "Password", @class = "form-control input-sm chat-input", @id = "userPassword" })
                @*<input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />*@
                <br>
                <span class="text-size">Remember me</span>
                @Html.CheckBoxFor(m => m.RememberMe)
                <br>
                <button type="submit" class="btn login_btn text-light c-form-login text-size">Login</button>
            }
        </div>
    </div>
</div>
